.navbar navbar-expand-lg navbar-light bg-light{
    
    width: 100%;
    }


h1 {
    text-align: center;
    color: red;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}
.col-12 {
    background-color:
}

.col-12 ul {
    text-align: center;
    list-style: none;
}